.contact-link{
    text-decoration: none;
}

.contact-link:hover{
    color: var(--darkGray);
}

.contact-email{
    text-decoration: none;
}

.contact-email:hover{
    color:var(--darkGray)
}

.contact-img{
    width: 100%;
    height: auto;
    max-width: 35rem;
}