.contact-link{
    text-decoration: none;
}

.contact-link:hover{
    color: var(--darkGray);
}

.contact-email{
    text-decoration: none;
}

.contact-email:hover{
    color:var(--darkGray)
}

.contact-img{
    width: 100%;
    height: auto;
    max-width: 35rem;
}

.message-textarea{
    height: 100px;
}

.send-btn{
    background-color: white;
    border: 5px solid var(--darkGray);
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    font-size: 18px;
    padding: 3px 20px;
    color: var(--darkGray);
}

.send-btn:hover{
    background-color: var(--darkGray);
    color: white;
}