.avatar{
    width:100px;
    height: 100px;
    border-radius: 50%;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-link{
    color: var(--darkGray);
}

.info-email{
    color: var(--textGray);
    text-decoration: none;
}

.info-email:hover{
    color: var(--darkGray)
}