.my-nav{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.nav-menu{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    text-align: center;
    margin-bottom: 0;
    width: 90vw;
    justify-content: start;
    margin-right: 2rem;
    padding: 0;
}

.menu-item{
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    color: var(--darkGray);
    font-size: 25px;
    padding: 0.5rem 1rem;
}

.menu-item:hover{
    background: var(--lightGray);
    border-radius: 14px;
    color: var(--darkGray);
    transition: all 0.2s ease-out;
}

.nav-logo{
    color: var(--darkGray);
    justify-self: start;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 50%;
}

.nav-logo:hover{
    color:var(--darkGray);
    background: var(--lightGray);
}

.menu-icon{
    display: none;
}

@media screen and (max-width: 960px){
    .my-nav{
        position:relative;
    }

    .nav-menu{
        background: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        position:absolute;
        top: 80px;
        left:-100%;
        transition: all 0.5s ease
    }

    .nav-menu.menu-active{
        left:0;
        height: 200px;
        transition: all 0.5s ease;
        z-index: 1;
        background: white;
    }

    .menu-item{
        text-align: center;
        width: 100%;
        display: table;
    }

    .menu-item:hover{
        background: var(--lightGray);
        border-radius: 0;
    }

    .menu-icon{
        display: block;
        position:absolute;
        top:0;
        left: 0;
        transform: translate(100%, 30%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-logo{
        margin-left: 0;
        margin-right: 0;
    }
}


