li{
    list-style-type: none;
    float: left;
}

.nav-content{
    color:rgba(55,65,81,1);
    text-decoration: none;
    margin: 14px 16px;
    padding: 7px 7px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 25px;
}

.nav-content:hover{
    background: rgba(229,231,235,1);
}

.nav-icon-container{
    display: flex;
    margin-right: 30px;
}

.nav-icon:hover{
    background: rgba(229,231,235,1);
}



